<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/nouveauvehiculesave" method="post">
    <label for="marque">Marque du véhicule</label>
    <input type="text" id="marque" name="marque"> <br>
    <label for="modele">Modèle du véhicule</label>
    <input type="text" id="modele" name="modele"> <br>
    <label for="description">Description du véhicule</label>
    <textarea id="description" name="description"></textarea> <br>
    <label for="prix">Prix du véhicule</label>
    <input type="number" id="prix" name="prix"> <br>
    <label for="image">Image</label>
    <input type="file" id="image" name="image"> <br>
    <label for="date">Date de mise en ligne</label>
    <input type="date" id="date" name="date"> <br>
    <input type="submit" value="Créer un nouveau véhicule">
</form>
</body>
</html>