<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Postez ici le sujet de votre choix</h2>
        <form action="/nouveaupost" method="post">
            <label for="sujet">sujet</label>
            <input type="text" name="sujet">
            <label for="auteur">Auteur</label>
            <input type="text" name="auteur">
            <textarea name="description" id="">Description</textarea>
            <textarea name="message" id="">Message</textarea>

            <input type="submit">
        
        </form>

       
</body>
</html>