<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/api/newuser" method="post">
    <label for="Username">Username</label>
    <input type="text" id="Username" name="username">

    <label for="email">Email</label>
    <input type="email" id="email" name="email">
    
    <label for="Password">Password</label>
    <input type="password" id="Password" name="password">

    <input type="submit" value="Inscrivez-vous">

</form>


</body>
</html>