<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form action="/api/connexion" method="post">

<label for="">Email</label>
    <input type="email" id="" name="email" required>
    <label for="">password</label>
    <input type="password" id="" name="password" required>
    <input type="submit" value="Connexion">

</form>

</body>
</html>